@import "fonts";
@import "image";

body{
	margin: 0px;
	background-color: #150503;
	color: #9FF;
	color: #FFB;
	font-family: "Heebo";
}

$linkColor: #40DBDB;
$linkColorVisted: #e85ec4;

a {
	color: $linkColor;
	text-decoration: none;
}

a:hover {
	color: darken($linkColor, 10%);
}

a:visited {
	color: $linkColorVisted;
}

a:visited:hover{
	color: darken($linkColorVisted, 10%);
}

#canvas{
	margin: 0px;
	position: fixed;
	top: 0;
	z-index: -2;
}

$content-width: 38rem;

.title {
	position: fixed;
	font-size: 5rem;
	width: 80%;
	margin: 0 auto;
	left: 50%;
	top: 40%;
	transform: translate(-50%, -50%);
}

.subtitle {
	font-size: 1rem;
	margin:0 auto;
}

.wrapper {
	width:80%;
	margin: 0 auto;
	margin-top: 90vh;
}

.bottom-buffer {
	margin-top: 50vh;
}

.section-title {
	margin-top: 5rem;
	font-size: 2.5rem;
}

.work-text {
	margin-top: 1rem;
	font-size: 1rem;
}

.work-title {
	float: left;
}

@media only screen and (max-width: 775px), only screen and (max-device-width: 775px) {
	.title {
		text-align: center;
		font-size: 10vw;
	}

	.subtitle {
		// width: 100%;
		text-align: center;
	}
}